{% load static %}
{% static "" as baseUrl %}
<div class="col-md-6 col-lg-4">
    <div class="portfolio-item mx-auto text-center" data-toggle="modal" data-target="#pmtid{{id}}">
        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white">
                <i class="fas fa-music fa-3x"></i>
            </div>
        </div>
        <img class="img-fluid" style="width: 200px;height: 150px;" src="{{baseUrl}}apps/payment/{{card_type}}.svg" alt="">
        <p class="py-3 font-weight-bold">****-****-****-{{card_number|make_list|slice:'12:'|join:''}}</p>
    </div>
</div>