{% extends "base.html" %}
{% block header %}
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">{{ title }}</h2>
{% endblock header %}

{% block main%}

<!-- Main Content -->

{% if action == 'POST_SUCCESSFULL' %}
<div class="alert alert-success" role="alert">
    The shaver has been created. <a href="/" class="alert-link">Go to homepage</a>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% elif action == 'POST_FAILED' %}
<div class="alert alert-danger" role="alert">
    Failed to add the shaver! Please check the error messages.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <table
        style="margin-left:auto; margin-right:auto; margin-bottom:50px; border-collapse: separate;border-spacing: 50px 0;">
        {{form.as_table}}
    </table>
    <div style="text-align: center;">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>

{% endblock%}