{% extends "base.html" %}

{% block header %}
<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Homepage</h2>
{% endblock header %}

{% block main%}
<div class="container">
    <!-- Main Content -->
    {% if shaver_dict %}
        <div class="row">

        <!-- Show shaver thumbnails -->
        {% for shaver in shaver_dict.values %}

            {% include "shaver/shaver_thumbnail.html" with id=shaver.id brand=shaver.brand model=shaver.model shaver_image=shaver.shave_image %} 
            {% include "shaver/shaver_popup.html" with id=shaver.id brand=shaver.brand model=shaver.model type=shaver.type qty=shaver.qty shaver_image=shaver.shave_image %}

        {% endfor %}

        </div>
    {% endif %}

    {% include "divider.html" with icon_class="divider-custom-icon" icon="fas fa-star" %}
    <div style="text-align: center;">
        <p><b>Hotline:</b> {{ HOTLINE.name }} - {{ HOTLINE.phone }}</p>
    </div>

</div>
{% endblock %}